@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Esse site foi criado por Roberto Afonso
</address>

<address>
    <strong>Contato:</strong> <a href="mailto:robertoafonso99@gmail.com">robertoafonso99@gmail.com</a><br />
</address>
